html, body {
  margin: 0;
  padding: 0;
  background: #05060b;
  overflow: hidden;
}

canvas {
  position: fixed;
  inset: 0;
}


.content {
  position: relative;
  z-index: 10;
  color: white;
  padding: 100px;
}
